html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 350px;
  display: flex;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}
.music-info {
  position: absolute;
  right: 0;
  top: 20px;
  transform: translateY(0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  width: 80%;
  padding: 5px 20px 15px 25%;
  z-index: 1;
}

.container.play .music-info {
  transform: translateY(-100%);
  opacity: 1;
}
.music-title {
  margin: 0;
}
.progress-wrapper {
  width: 100%;
  height: 4px;
  background-color: silver;
  border-radius: 2px;
  position: relative;
  z-index: 11;
}
.progress {
  border-radius: 2px;
  width: 0%;
  height: 100%;
  background-color: pink;
}
.ing-container {
  position: relative;
  width: 110px;
  z-index: 1;
}
.ing-container::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -150%);
}

.ing-container img {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;


  animation: rotate 5s linear infinite;

  animation-play-state: paused;
}

.container.play .ing-container img {
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.navigation {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
.nav-btn {
  margin: 0 15px;
  display: inline-block;
  padding: 10px;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
}


#prev {
  background-image: url('../img/rewind-button.png');
  background-repeat: no-repeat;
  background-size: contain;
}
#next {
  background-image: url('../img/forward-button.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.pause {
  background-image: url('../img/play-button-arrowhead.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.play-song {
  background-image: url('../img/pause.png');
  background-repeat: no-repeat;
  background-size: contain;
}